@media screen {
    .form-check-label {
        font-weight: bold;
    }

    main {
        padding: 70px 15px 0;
      }

    .autocad-command {
        background-color: var(--bs-secondary);
        color: var(--bs-white);
        padding: 0.125rem 0.25rem;
        border-radius: 3px;
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    td.yes::before {
        font-weight: bold;
        content: "\2713";
        color: var(--bs-success);
    }

    td.no::before {
        font-weight: bold;
        content: "\2717";
        color: var(--bs-danger);
    }
}

@media print {
    .form-check-label {
        font-weight: normal;
    }

    hr {
        border-top: 1px solid #000;
    }

    .col-12 p {
        display: none;
    }

    #fieldList p, li, label {
        font-size: 14pt;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
