@media screen {
    .form-check-label {
        font-weight: bold;
    }

    main {
        padding: 70px 15px 0;
      }
}

@media print {
    .form-check-label {
        font-weight: 0;
    }

    hr {
        border-top: 1px solid #000;
    }

    .col-12 p {
        display: none;
    }
}